#arquivo de ambiente
.venv/

#arquivos de config 
CLAUDE.md
*.zip
.claude/

# pasta com o texto inicial do tcc
document_tcc/

# arquivo verifiaça de campos, arquio com amostras aleatorias
verificacao_exemplos.csv
*~*.*#

#varaiveis corregadas a anteriormente para evitar retrabalho
variavel/